<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Symbience Clear Path Agile</title>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="js/ui-bootstrap-tpls-0.12.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"></script>
    


    
    <script type="text/javascript" src="js/sidebar.js"></script> 
    <script type="text/javascript" src="js/agileApp.js"></script>
    <script type="text/javascript" src="js/sortable.js"></script>
    <!-- // <script src="js/angular-local-storage.js"></script> -->


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/cerulean.css"> -->

    <link rel="stylesheet" type="text/css" href="css/navbar-fixed-top.css">
    <link rel="stylesheet" type="text/css" href="css/sidebar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="css/d-and-d.css"> -->
    <link rel="stylesheet" href="css/dd-grid.css">



<script type="text/javascript">

 $(document).ready(function() 
 {
    // $('.story-container .story').click(function(e) { 
    //  	$('#val').val($(this).text()) ;
    //  	$(".story-container .story").removeClass("active");
  		// $(this).addClass("active");
    // });

    

 });


</script>

  </head>
  
  <body ng-app="app" ng-controller="AgileCtrl as agileApp">



    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-show="agileApp.userAuthenticated()">
      <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle toggle-left " data-toggle="sidebar" data-target=".sidebar" ng-click="agileApp.showSideBar = true;">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="agileApp.html"><img alt="Symbience Clear Path Agile" src="img/logo.png"></a>
        <a class="navbar-brand" href="#">Symbience ClearPath Agile</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-text"><strong>Project:</strong></p>
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Project Name will go here<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="project in agileApp.Projects"><a href="#">{{project.name}}</a></li>
              <!--   <li><a href="#">Project 2</a></li>
                <li><a href="#">Project 3</a></li>
                <li><a href="#">Project 4</a></li> -->
              </ul>

      </li>
      

          	<li><p class="navbar-text">Signed in as <a href="#settings" class="navbar-link" title="User Settings">{{agileApp.userName()}}  <i class="fa fa-cog"></i></a></p></li>
          	<li><a href="#login" title="Logout" ng-click="agileApp.logout()"><span class="fa fa-sign-out fa-lg"></span></a></li>
          	<li><a href="#" title="Help"><span class="fa fa-question-circle fa-lg"></span></a></li>
            
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" ng-view>
    </div>

  

	<div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate">
		<ul class="nav navbar-stacked">
		    <li><a href="#notdone" data-toggle="sidebar" data-target=".sidebar"><i class="fa fa-users"></i> TEAM</a></li>
			<li><a href="#backlog" data-toggle="sidebar" data-target=".sidebar"><i class="fa fa-list"></i> BACKLOG</a></li>
			<li><a href="#notdone" data-toggle="sidebar" data-target=".sidebar"><i class="fa fa-sliders"></i> KANBAN</a></li>
			<li><a href="#notdone" data-toggle="sidebar" data-target=".sidebar"><i class="fa fa-eye"></i> TESTS</a></li>
			<li><a href="#notdone" data-toggle="sidebar" data-target=".sidebar"><i class="fa fa-file-code-o"></i> REPORTS</a></li>
			<li><a href="#settings" data-toggle="sidebar" data-target=".sidebar"><i class="fa fa-cog"></i> SETTINGS</a></li>
		</ul>
	</div>


	

    <!-- Bootstrap core JavaScript, jQuery, AngularJS
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    

  </body>
</html>

