<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Symbience Clear Path Agile">
    <meta name="author" content="Rod Baine, Symbience, LLC">
    <link rel="icon" href="favicon.ico">

    <title>Symbience Clear Path Agile</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cerulean.css">



</head>
<body ng-app="app">

	<div class="container" ng-controller="RegisterCtrl as reg">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			</div>
		</div>
			
		<div class="row">

			<div class="col-md-1 col-lg-1 ">
			</div>

			<div class="col-md-6 col-lg-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<p><h2>Sign Up!</h2></p>
						<form class="form-horizontal" role="form" name="form" novalidate>
						<div class="well">
						
					
													
							<div class="form-group">
								<label for="firstName" class="col-sm-2 control-label">First Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="reg.User.firstName" required>
								</div>
							</div>

							<div class="form-group">
								<label for="lastName" class="col-sm-2 control-label">Last Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="reg.User.lastName" required>
								</div>
							</div>

							<div class="form-group" ng-class="reg.errEmail ? 'has-error' : ''">
								<label for="email" class="col-sm-2 control-label">Email Address</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="reg.User.email" ng-blur="reg.userEmailInUse(reg.User.email)" required>
								</div>
							</div>

							<div class="form-group" ng-class="(form.password.$touched && !form.password.$valid) ? 'has-error' : ''">
								<label for="password" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="reg.User.password" required>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-2" >
									<button type="button" class="btn btn-primary" ng-click="reg.register()" ng-disabled="!form.$valid || reg.errEmail">Submit</button>
								</div>
								<div class="col-sm-8">
									<div class="panel panel-default">
										<div class="panel panel-body">
									    	{{reg.errMsg}}
									    </div>
									</div>
								</div>
							</div>

						</div>							
						</form> 
					</div>
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img src="http://placehold.it/300x450" class="center-block">
			</div>

			<div class="col-md-1 col-lg-1 ">
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			</div>
		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
