<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<style type="text/css">
	.xdiv {
		border-width: 1px;
		border-style: dashed;
		border-color: #A1A1A1;
	}
	
</style>

</head>
<body>

	<div class="container">

		<div class="jumbotron">
			<div class="container">
				<h1>Bootstrap Mock-up Template</h1>
				<p>Template used to mock up ui screens.</p>
			</div>
		</div>
		
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
